<!DOCTYPE html>
<html>
    <head>
        <title>Wow Pet</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta charset="UTF-8">
    </style>
</head>

<body>
<section>
    <form method="post">
    <select name="realm">
        {% for r in realms %}
        <option value="{{ r.slug }}" {{ 'selected' if forms.realm == r.slug else '' }}>{{ r.name }}</option>
        {% endfor %}
    </select>
    <input name="character_name" value="{{ '' if forms.character_name == None else forms.character_name }}">
    <button onclick="form.submit()">조회</button>
    <button onclick="form.action='my_pet'; form.submit()">소유펫</button>
    <button onclick="form.action='pet_auction'; form.submit()">경매장(애완동물)</button>
    </form>
</section>
<section>
    <table border=0>
    {% for item in items %}
    <tr>
        <td><img src=""></td>
        <td>
            {{ item.gold }}g, {{ item.silver }}s, {{ item.copper }}c
        </td>
        <td>
            {{ item.item_detail.name }}
        </td>
        <td>
            {{ '보유함' if item.learned else '' }}
        </td>
    </tr>
    {% endfor %}
    </table>
</section>
</body>

</html>
