<!DOCTYPE html>
<html>
    <head>
        <title>Wow Pet</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta charset="UTF-8">
    </style>
</head>

<body>
<section>
    <form method="post">
    <select name="realm">
        {% for r in realms %}
        <option value="{{ r.slug }}" {{ 'selected' if forms.realm == r.slug else '' }}>{{ r.name }}</option>
        {% endfor %}
    </select>
    <input name="character_name" value="{{ '' if forms.character_name == None else forms.character_name }}">
    <button onclick="form.submit()">조회</button>
    <button onclick="form.action='./pet_auction'; form.submit()">경매장(애완동물)</button>
    <button onclick="form.action='./mount_auction'; form.submit()">경매장(탈것)</button>
    </form>
</section>
<section>
    {% for p in pets %}
    <div>
    <img src="{{ p.detail.icon }}" style="height: 64px">
    {{ p.species.name }}
    {{ p.auction.min_buyout / 10000 }}
    </div>
    {% endfor %}
</section>
</body>

</html>
