appdynamics==20.10.0.2579
appdynamics-bindeps-linux-x64==20.10.0
appdynamics-proxysupport-linux-x64==1.8.0.252.1
APScheduler==3.6.3
astroid==2.4.2
certifi==2020.6.20
cffi==1.14.2
chardet==3.0.4
click==7.1.2
cryptography==3.3.2
dnspython==1.16.0
Flask==1.1.2
gunicorn==20.0.4
isort==5.5.2
itsdangerous==1.1.0
Jinja2==2.11.2
lazy-object-proxy==1.4.3
pylint==2.6.0
pymongo==3.11.0
python-telegram-bot==12.8
pytz==2020.1
PyYAML==5.4
requests==2.24.0
toml==0.10.1
tornado==6.1
tzlocal==2.1
urllib3==1.25.10
Werkzeug==1.0.1
prometheus_client==0.9.0